* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    margin: 0 auto;
}

h1,
h2,
p,
a {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding: 1rem;
}

.logo {
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: #1F2937;
}

.hero-text {
    max-width: 600px;
}

.hero-text h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
    margin-bottom: 0.5rem;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 1rem;
}

.sign-up-button {
    background-color: #0084ff;
    color: white;
    border-radius: 8px;
    padding: 7px 30px;
    border: none;
}

.hero-image {
    background-color: #919191;
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3d3d3d;
}


.info-section {
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    padding: 3rem;
    flex-wrap: wrap;
}

article {    
    margin: 20px;  
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center;
}

.info-section h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    padding: 3rem 0;
    width: 100%; 
}

.info-box {
    height: 100px;
    width: 100px; 
    border: 2px solid #0084ff;
    padding: 10px;
    border-radius: 15%;
}


article p {
    color: #777;
    margin-top: 10px; 
}
.quote-section {
    background-color: #F5F5F5;
    padding: 2rem;
    text-align: center;
}

.quote-section blockquote {
    font-style: italic;
    color: #555;
    margin-bottom: 1rem;
}

.call-to-action {
    background-color: #0084ff;
    width: 100vh;
    color: white;
    text-align: center;
    border-radius: 8px;
    padding: 2rem;
    margin: auto;
}

.call-to-action p {
    margin-bottom: 1rem;
}

.sign-up-button2 {
    background-color: #0084ff;
    color: white;
    border-radius: 8px;
    padding: 7px 30px;
    border: 2px solid white;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 0.8rem;
}
